$taskbarBlack: rgba(39, 39, 39, 0.808);
$taskbarSearchBarGrey: rgb(182, 182, 182);
$taskbarHoverGrey: rgb(110, 110, 110);
$desktopIconHoverGrey: rgba(206, 206, 206, 0.233);
$startMenuGrey: rgb(49, 49, 49);
