body {
  background-image: url("images/win10Background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  resize: both;
  overflow: hidden;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;

  .Taskbar {
    background-color: rgba(39, 39, 39, 0.808);
    padding: 0.55rem;
    display: flex;
    flex-direction: row;

    .Taskbar__Start {
      background-image: url("images/icons8-windows-10-30White.png");
      background-repeat: no-repeat;

      &:hover {
        background-image: url("images/icons8-windows-10-30Blue.png");
      }
    }

    .Taskbar__ClockHolder {
      flex-direction: column;
      font-size: 1rem;
      margin: 0rem;
      padding: 0rem;
    }
  }
}
