@import "_theme";

body {
  background-image: url("images/win10Background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  resize: both;
  overflow: hidden;
  //add windows font
}
.desktop {
  .desktop__Icon {
    img {
      height: 5rem;
    }
  }
}

.StartMenu {
  //this needs to be at the bottom of the screen
  position: fixed;
  bottom: 0;
  background-color: $taskbarBlack;
  left: 0;
  display: flex;
  flex-direction: column-reverse;

  .StartMenu__Icons {
    //margin-bottom: 1rem; //hacky, but they are in the right place
    margin-left: 4rem;
  }
  .StartMenu__SettingsOptions {
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column-reverse;
    img {
      height: 1.5rem;
      padding: 1rem;
      &:hover {
        background-color: $taskbarHoverGrey;
      }
    }
  }
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;

  .Taskbar {
    background-color: $taskbarBlack;
    width: 100vw;
    display: flex;
    flex-direction: row;
    //justify-content: space-between;

    .Taskbar__Start {
      background-image: url("images/icons8-windows-10-30White.png"); //this isn't centered
      background-repeat: no-repeat;
      padding: 0.5rem;

      &:hover {
        background-image: url("images/icons8-windows-10-30Blue.png"); //this isn't the right blue
        background-color: $taskbarHoverGrey;
      }
    }
    .Taskbar__Search {
      margin-left: 0.7rem;
      background-color: $taskbarBlack;
      align-self: center;
      border: 1.5px solid white;
      &:hover {
        border: 1.5px solid $taskbarSearchBarGrey;
      }

      .Taskbar__SearchBar {
        background-color: $taskbarBlack;
        color: $taskbarSearchBarGrey;
        border-style: none;
        padding: 0.5rem; //on click this needs to change to invert text and background colors and pop up a menu
      }
    }

    .TaskBar__IconHolder {
      display: flex;
      justify-content: center;
      .Taskbar__Icon span {
        &:hover {
          background-color: $taskbarHoverGrey;
        }
      }

      .Taskbar__Icon img {
        margin: 0.3rem;

        &:hover {
          background-color: $taskbarHoverGrey;
        }
      }
    }

    .Taskbar__ClockHolder {
      display: flex;
      flex-direction: column;
      font-size: 1rem;
      &:hover {
        background-color: $taskbarHoverGrey;
      }
    }
  }
}
